
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Interactive Data Science: Byte 1</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron", style="text-align:center">
	<h1> Interactive Data Science: Byte 1 </h1>
	<h1 style="font-size:50px;">  Bitcoin Price Statistics  </h1> 
	<h3>  <font color = "#4e5a68"> Major Question </font> </h3>
        <p> What is my question? </p>
     <h3> <font color = "#4e5a68"> Acknowledgemend </font> </h3>
     	<p> Data Source: <a href = "https://data.bitcoinity.org/markets/exchanges/USD/30d"> https://data.bitcoinity.org/markets/exchanges/USD/30d </a></p>
      </div>
      
    <div class="page-header">
        <h1> <font color = "#4e5a68"> Bitcoin Price Visualization </font> </h1>
    </div>
    
    <div , style="text-align:center">
    <h2> <font face="verdana" color="#5f5f5f"> Bitcoin Price over the past 30 days by Bitcoin Exchanges </font> </h2>
<iframe width="1200" height="500" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?containerId=googft-gviz-canvas&amp;viz=GVIZ&amp;t=LINE_AGGREGATE&amp;isXyPlot=true&amp;bsize=0.0&amp;q=select+col0%2C+col1%2C+col2%2C+col3%2C+col4%2C+col5%2C+col9+from+1hi3RHlZbeJWpltT1rBKTT6z911U_geZH4XC80e1f&amp;qrs=+where+col0+%3E%3D+&amp;qre=+and+col0+%3C%3D+&amp;qe=+order+by+col0+asc&amp;uiversion=2&amp;rstart=2017%2F12%2F28+19%3A0%3A0&amp;rend=2018%2F1%2F27+17%3A16%3A6&amp;gco_forceIFrame=true&amp;gco_hasLabelsColumn=true&amp;width=1200&amp;height=500"></iframe>
	</div>
	<p><font size = "4" face="verdana" color="#5f5f5f"> The zoomable line chart shows the trend of Bitcoin Price by 6 different digital currency exchange, including "others".  The Y axis shows the price of 1 Bitcoin in USD (USD/BTC), while the X axis shows the date of the past 30 days (2017-12-28 to 2018-01-27).  
	</font></p>
      </div> <!-- /page-header -->
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
